$white: white;
$black: black;
$grey-0: #f9f9f9;
$grey-1: #e6e6f5;
$grey-2: #e6e6f5;
$grey-3: #9797b0;
$grey-4: #333;
$alpha-purple: #543b9725;
$electric-blue: #3680f3;
$dark-blue: #112338;
$aquamarine-1: #0094a8;
$aquamarine-2: #45b7d2;
$aquamarine-3: #4de4e7;
$green-1: #41bea5;
$green-2: #4abab3;
$purple-1: #5c338a;
$purple-2: #a264dc;
$purple-3: #ababf5;
$pink: #ca4ca7;
$coral: #e55767;
