@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700&display=swap');
@font-face {
  font-family: 'NimbusMono';
  src: url('/fonts/nimbusmono-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NimbusMono';
  src: url('/fonts/nimbusmono-bold.woff') format('woff');
  font-weight: bold;
  font-style: bold;
  font-display: swap;
}
