@import '~/assets/styles/colors.scss';
@import '~/assets/styles/fonts.scss';

html {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $white;
  background-color: $black;
}

// h1 {
//   font-family: 'Outfit';
// }

// h2 {
//   font-family: 'Outfit';
// }

// h3 {
//   margin: 0;
//   font-family: 'Outfit';
// }

// body {
//   font-family: 'Poppins';
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }
