.header-1 {
  letter-spacing: -0.02em;
  font-size: 4rem;
}
.header-2 {
  letter-spacing: -0.02em;
  font-size: 2.2rem;
}
.header-3 {
  font-size: 1.6rem;
}
.header-4 {
  font-size: 1.4rem;
}
p {
  font-family: Almarai, sans-serif;
  font-size: 1rem;
  letter-spacing: -0.01em;
  line-height: 1.5;

  &.subtitle {
    font-size: 1.125rem;
  }
  &.title {
    font-size: 1.12rem;
  }
  &.small-description {
    font-size: 0.8rem;
  }
  &.copyright {
    font-size: 0.8rem;
  }
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  font-family: Almarai, sans-serif;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
  font-size: inherit;
}

.underline:hover {
  text-decoration: underline;
}
