@import '~/assets/styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap');

html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $dark-blue;
}

body {
  font-family: 'Almarai';
  background-color: $dark-blue;
  height: 100%;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
}
