@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply scroll-smooth;
  }
  /* Titles */
  .title-h1 {
    @apply font-title text-7xl font-semibold sm:text-6xl;
    line-height: 1;
    color: #232323;
  }

  .title-h2-xl {
    @apply font-title text-7xl font-semibold sm:text-6xl;
    line-height: 1.1;
    color: #232323;
  }

  .title-h2 {
    @apply font-title text-5xl font-semibold sm:text-4xl;
    line-height: 1.1;
    color: #232323;
  }

  .title-h2-light {
    @apply font-title text-5xl font-normal sm:text-4xl;
    line-height: 1.1;
    color: #232323;
  }

  .title-h3 {
    @apply font-title text-4xl font-semibold sm:text-3xl;
    line-height: 1.1;
    color: #232323;
  }

  .title-h4 {
    @apply font-title text-4xl font-semibold sm:text-3xl;
    line-height: 1.1;
    color: #232323;
  }

  .title-h5 {
    @apply text-2xl font-semibold sm:text-xl;
    line-height: 1.1;
    color: #232323;
  }

  .text {
    @apply text-base;
    line-height: 1.5;
    color: #333;
  }

  .text-dark {
    @apply text-lg text-white-50;
    line-height: 1.5;
  }

  .text-link {
    @apply text-sm;
    line-height: 1.5;
    color: #333;
  }

  .text-link-dark {
    @apply text-sm text-white-50;
    line-height: 1.5;
  }

  .subtitle {
    @apply text-sm text-white-300;
  }

  .footer-text {
    @apply text-xs text-white-50;
    line-height: 1.5;
  }

  .link-list-item {
    padding: 0;
    margin: 0;
  }

  .link-list-item .link {
    @apply inline-block cursor-pointer text-left min-w-max w-full hover:font-semibold;
    padding: 16px;
    margin: -16px;
  }

  .link::before {
    @apply font-semibold block overflow-hidden h-[0px] invisible;
    content: attr(data-text);
  }

  .section-description-max-w {
    @apply max-w-md-x-screen sm:max-w-max md:max-w-lg-x-screen;
  }
}
